.login-card {
    margin-top: 100px;
    /* width: 100%;*/
}

.card-title {
    background: rgb(114, 1, 114);
    color: white;
}
.card label {
    font-size: 16px;
}


/* removes side-drawer from toolbar when in desktop mode */
@media (min-width: 769px) {
    .login-card {
        width: 60%;
    }

    .toolbar {
        display: none;
    }
}

.login-container{
    position: fixed;
    height: 100px;
    width: 800px;
    margin-left: 550px;
}
