.login-card {
    margin-left: 20%;
    margin-top: 50px;
    width: 100%;
}
.login-container {
    margin-left: 300px;
}
.login-welcome {
    margin-top: 20px;
}
.card-title {
    background: rgb(41, 1, 41);
    color: white;
}
.card label {
    font-size: 16px;
}
.btn {
    color: "white";
    font-weight: "bold";
    margin-right: 20%;
    width: 60%;
    margin-top: 20px;
}


/* removes side-drawer from toolbar when in desktop mode */
@media (min-width: 769px) {
    .login-card {
        width: 60%;
    }
}
