.search-bar {
  margin: 2rem;
  background-color: #a543a31a;
  height: 5rem;
  border-radius: 10px;
}
input {
  border: 1px solid #521751;
  width: 25rem;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 10px;
}
i {
  padding-right: 2rem;
  font-size: 19px;
  font-weight: 500;
  color: #521751;
}
.field {
  padding-top: 1.5rem;
}
